<a class="w-64 mx-2 mt-4  shadow-2xl flex flex-col items-stretch ">
    <!-- Contenedor imagen fijo -->
    <div class="h-48 flex items-center justify-center p-2 size-cover bg-gray-50">
        <img [src]="product().urlImage" 
             alt="Producto imagen" 
             class="w-full h-full object-contain">
    </div>

    <!-- Contenedor detalles con altura fija -->
    <div class="flex-1 p-3 flex flex-col  min-h-[140px]">
        <!-- Nombre con altura fija -->
        <h4 [innerHTML]="getSafeHtml(product().name)" class="font-bold
         text-gray-950 text-lg truncate">
            {{ product().name }}
        </h4>

        <div class="flex pt-2 ">
      <!-- Estrellas de rating -->
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" width="20px" height="20px" class="fill-yellow-500">
        <path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/>
      </svg>
      <!-- Repetir estrellas según rating -->
      <div class="text-sm text-gray-500 pl-5 font-medium">
        | {{ product().reviews }} reviews
      </div>
    </div>

    <div class="text-lg text-gray-500 items-baseline font-medium pt-2">
      <span>{{ product().price | currency : "USD" : "symbol" }}</span>
      @if (product().previusPrice) {
        <span class="text-sm text-gray-500 line-through ml-2">
          {{ product().previusPrice | currency : "USD" : "symbol" }}
        </span>
      }
    </div>
  </div>
</a>
