/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";


.EncodeSans {
    font-family: 'EncodeSans', sans-serif;
    font-weight: 800;
}


/* Transiciones suaves para el carrusel */
.carousel-slide {
  transition: transform 0.7s ease-in-out, opacity 0.7s ease-in-out;
}

/* Asegura que los elementos no activos no bloqueen los clics */
.carousel-slide:not(.active) {
  pointer-events: none;
}